:root {
    --blanco: #fff;
    --gris: #6c6565;
    --grisSuave: #cecece;
    --negro: #060608;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    --colorLlamar: #2961da;
}
body {
    width: 100vw;
}
.container-diezmos {
    background-image: url(../img/diezmos2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--blanco);
    font-size: 28px;
    text-shadow:  1px 2px 1px var(--gris);
}
.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.form {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 340px;
    background: #020202ae;
    padding: 8px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.481);
    border: 2px solid var(--gris);
}
label {
    color: var(--grisSuave);
    font-weight: bold;
}
.inputPrice {
    padding: 6px 3px;
    background: var(--blanco);
    color: var(--negro);
    border: 1px solid var(--gris);
    margin: 5px 0;
    width: 100px;
}
.bottonCalcular {
    cursor: pointer;
    background: #1fd828;
    color: var(--blanco);
    padding: 7px;
    border-radius: 3px;
    margin: 0px 10px;
    border: none;
    margin: 5px;
}
.bottonCalcular:hover {
    transform: scale(1.1);
    color: var(--gris);
}
.inputReset {
    cursor: pointer;
    background: #d81f1f;
    color: var(--blanco);
    padding: 7px;
    border-radius: 3px;
    border: none;
    margin: 5px;
}
.inputReset:hover {
    transform: scale(1.1);
    color: var(--gris);
}
.ResultPrice {
    color: var(--blanco);
    background: var(--gris);
    height: 100px;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid var(--grisSuave);
}
.container-Subtitle {
    display: grid;
    justify-content: center;
    padding: 10px;
    color: var(--blanco);
    border-radius: 8px;
    width: 300px;
}
.container-Subtitle span {
    font-style: oblique;
}